*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KyivTypeTitling !important;
}
@font-face {
    font-family: "KyivTypeTitling";
    src: url(KyivTypeTitling-VarGX.ttf);
  }
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;


    .header{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // background-color: black;
        .header_logo{
            display: flex;
            width: 124px;
            justify-content: space-between;
            align-items: center;
            color: #534EC6;
            font-size: 32px;
            font-weight: 600;
        }
        .logo_img{
            width: 43px;
        }
        .header_nav{
            width: 545px;
            display: flex;
            justify-content: space-between;
            color: #363466;
            font-size: 24px;
            font-weight: 600;
            font-family: KyivTypeTitling;
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .activeLi{
            width: 33px;
            height: 2px;
            background-color: #363466;
            border-radius: 8px;
            margin-top: 2px;
            box-shadow: 3px 3px 3px #00000067;
        }

    }
}
