*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KyivTypeTitling !important;
}
@font-face {
    font-family: "KyivTypeTitling";
    src: url(KyivTypeTitling-VarGX.ttf);
  }
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;


    .header{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .header_logo{
            display: flex;
            width: 124px;
            justify-content: space-between;
            color: #534EC6;
            font-size: 32px;
            font-weight: 600;
        }
        .logo_img{
            width: 43px;
        }
        .header_nav{
            width: 545px;
            display: flex;
            justify-content: space-between;
            color: #363466;
            font-size: 24px;
            font-weight: 600;
            font-family: KyivTypeTitling;
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: 0.5s ease;
                width: 100px;
            }
            li:hover{
                letter-spacing: 2.5px;
            }
        }
        .activeLi{
            width: 33px;
            height: 2px;
            background-color: #363466;
            border-radius: 8px;
            margin-top: 2px;
            box-shadow: 3px 3px 3px #00000067;
        }
        select, option{
            color: #363466;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
        }
        select{
            border: none;
        }
        .header_themeChanger{
            width: 52px;
            height: 26px;
            border-radius: 40px;
            display: flex;
            justify-content: flex-start;
            background-color: #534EC6;
            cursor: pointer;
        }
        .header_themeChangerCircle{
            width: 26px;
            height: 26px;
            background-color: #fff;
            border-radius: 50%;
            border: #534EC6 3px solid;
        }
        .header_langiageAndTheme{
            width: 200px;
            display: flex;
            justify-content: space-between;
        }

    }
}
